:root {
    --accent-color: rgb(32, 155, 217);
    --shadow-color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #e3f3fa;
}

a:any-link{
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--shadow-color);
    align-items: center;
    padding: 10px 0px;
}

#name {
    display: inline;
    background-color: var(--accent-color);
    color: var(--shadow-color);
    padding: 0px 10px 0px 80px;
    font-weight:bold;
    font-size: 1.5em
}

#links {
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
    color: var(--accent-color);
    margin-right: 80px;
    text-decoration:underline rgb(32, 155, 217);
}

#links h1{
    padding: 0px 5px;
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

#links h1:visited {
    color:var(--accent-color);
    text-decoration: none;
}

#links h1:hover {
    color:white;
    text-decoration: underline;
    text-decoration-color: white;
}

#banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    width: 100%;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
}

#subtitle {
    background-color: var(--accent-color);
    color: var(--shadow-color);
    padding: 1px 80px 1px 10px;
    font-weight:bold;
}

main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
    width:100%;
}

.left-side {
    border-right: 5px solid var(--shadow-color);
    padding: 10px;
    text-align: end;
    justify-content: flex-start;
    margin: 10px;
    width: 20vw;
    font-size: 1.25em;
    font-weight:bold;
}

.right-side {
    text-align: left;
    padding: 10px;
    margin: 10px;
    justify-content: flex-end;
    width: 70vw;
}

.row{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.project-one {
    display:flex;
    background-image: url("../images/seattle.png");
    background-size: cover;
    background-position: center;
    height:70vh;
    justify-content: start;
    align-items: flex-end;
}

.tag {
    display: flex;
    background-color: var(--accent-color);
    color: var(--shadow-color);
    padding: 0px 10px 0px 80px;
    font-weight:bold;
    font-size: 1.25em;
    padding: 10px 10px 10px 80px;
}